@model RentABike.Models.Bike

<div class="col-md-4">
    <h4>@Html.DisplayTextFor(m => m.Model)</h4>
    <p>
        @Html.DisplayTextFor(m=>m.Description)
    </p>
    <p>
        @Html.DisplayTextFor(m=>m.BikeType.Type)
    </p>
    <p><a class="btn btn-success" href="">More...</a></p>
</div>