@model PagedList.IPagedList<RentABike.ViewModels.OrderViewModel>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-12">
            @using (Ajax.BeginForm("AllOrdersForDelivery", "Order", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "results" }))
            {
                <div class="input-group">
                    <span class="input-group-btn">
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search..." })
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        <button class="btn btn-default" type="submit">Clear</button>
                    </span>
                </div>
                <br />
            }
        </div>
    </div>
</div>

<div id="results">
    @Html.Partial("_OrdersDelivery", @Model)
</div>

