@model IEnumerable<RentABike.Models.Order>

@{
    ViewBag.Title = "All orders";
}

@if (ViewBag.ErrorCancelingMessage)
{
    <div class="alert alert-danger" style="color: #b94a48">
        <strong> You can not cancel the order № @ViewBag.NOrder less than 10 minutes before the rental! </strong>
    </div>
}


<h2>Your orders</h2>
<hr/>
@if (Model.Count() != 0)
{
    foreach (var item in Model)
     {
         Html.RenderPartial("_OrderForUser", item);

     }

}
else
{
    <div>You don't have any orders yet.</div>
}
