/* Custom style for navbar*/
.navbar-green {
    background-color: #2ecc71;
    border-color: #27ae60;
}

    .navbar-green .navbar-brand {
        color: #ffffff;
    }

        .navbar-green .navbar-brand:hover,
        .navbar-green .navbar-brand:focus {
            color: #d1ffed;
        }

    .navbar-green .navbar-nav > li > a {
        color: #ffffff;
    }

.nav-green > li > a:hover,
.nav-green > li > a:focus {
    text-decoration: none;
    background-color: #27ae60;
}

.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}

.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}

.navbar-green .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-green .navbar_login__form {
    padding: 15px;
    min-width: 250px;
}

.navbar-green .navbar-nav > .dropdown > a:hover .caret,
.navbar-green .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}

.navbar-green .navbar-nav > .open > a .caret,
.navbar-green .navbar-nav > .open > a:hover .caret,
.navbar-green .navbar-nav > .open > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}

.navbar-green .navbar-toggle {
    border-color: #27ae60;
}

    .navbar-green .navbar-toggle:hover,
    .navbar-green .navbar-toggle:focus {
        background-color: #27ae60;
    }

    .navbar-green .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.user_adress__item {
    color: #999999;
}

.user_info__item {
    padding-top: 10px;
}

.user_custom_label {
    display: block;
    border-radius: 0 !important;
    margin-top: 10px;
}
.item_img img {
    height: auto;
    max-width: 100%;
    padding-top: 15px;
}


@media (max-width: 767px) {
    .navbar-green .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #d1ffed;
            background-color: #27ae60;
        }
}
