/* Custom style for navbar*/
.navbar-green {
    background-color: #2ecc71;
    border-color: #27ae60;
}

    .navbar-green .navbar-brand {
        color: #ffffff;
    }

        .navbar-green .navbar-brand:hover,
        .navbar-green .navbar-brand:focus {
            color: #d1ffed;
        }

    .navbar-green .navbar-nav > li > a {
        color: #ffffff;
    }

.nav-green > li > a:hover,
.nav-green > li > a:focus {
    text-decoration: none;
    background-color: #27ae60;
}

.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}

.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}

.navbar-green .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-green .navbar_login__form {
    padding: 15px;
    min-width: 250px;
}

.navbar-green .navbar-nav > .dropdown > a:hover .caret,
.navbar-green .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}

.navbar-green .navbar-nav > .open > a .caret,
.navbar-green .navbar-nav > .open > a:hover .caret,
.navbar-green .navbar-nav > .open > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}

.navbar-green .navbar-toggle {
    border-color: #27ae60;
}

    .navbar-green .navbar-toggle:hover,
    .navbar-green .navbar-toggle:focus {
        background-color: #27ae60;
    }

    .navbar-green .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.user_adress__item {
    color: #999999;
}

.user_info__item {
    padding-top: 10px;
}

.user_custom_label {
    display: block;
    border-radius: 0 !important;
    margin-top: 10px;
}
.item_img img {
    height: auto;
    max-width: 100%;
    padding-top: 15px;
}

/**/
.label_note {
    color: darkgrey;
}


@media (max-width: 767px) {
    .navbar-green .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #d1ffed;
            background-color: #27ae60;
        }
}


/**/
/*Main styles*/
html,
body {
    height: 100%;
}
.btn-primary {
    background-color: #2CA8DE;
    border-color: #2CA8DE;
}
.btn-primary:hover {
    background-color: #2c9cde;
    border-color: #2c9cde;
    cursor:pointer;
}
.count_info {
    color: #999999;
    font-size: 12px;
    font-weight: 600;
    padding: 0 5px;
    line-height: 21px;
    margin-top: 5px;
    float: right;
}
.custom-control:hover {
    cursor: pointer;
}
#overlay {
    background: rgba(0,0,0,0.3);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.hint {
    position: fixed;
    top: 60px;
    right: 15%;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.hint__visual {
    z-index: 3;
    border: 2px solid #ffffff !important;
    border-radius: 3px;
}
.hint_text {
    float:left;
    width:230px;
}
.tab__width {
    width: 630px;
}
.borderstyle {
    border: 2px solid #ced4da;
    box-shadow: none;
}
.borderstyle:active {
    border: 2px solid #ced4da;
    box-shadow: none;
}
.borderstyle:focus {
    border: 2px solid #ced4da;
    box-shadow: none;
}
.errorBorder {
    border: 1px solid #ff3839 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.error, .input.input-validation-error {
    border: 1px solid #ff3839 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.error:active {
    border: 1px solid #ff3839 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.error:focus {
    border: 1px solid #ff3839 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.error__message {
    font-weight: 600;
    color: #ff0000;
}
.field-validation-error {
    display: inline-block;
    font-size: 15px;
    color: #ff0000;
    text-align: center;
}
.button__submit {
    width: 40%;
    height: 50px;
    border: 1px solid #c4c3b9;
    float: left;
    margin: 0 0 10px 20px;
}
.button__submit:hover {
    cursor: pointer
}
.input__float_right {
    float: right;
    width: 55% !important;
}
/*Container*/
.tab__head p {
    color: #959595;
    font-size: 16px;
    line-height: 18px;
    margin: 20px 0 5px 0;
}
.tab__head_textarea {
    margin-top: 20px;
    width: 100%;
}
.container__image {
    width: 75px;
    height: 99px;
}
.container__image img {
    width: 75px;
    height: 99px;
}
/*Content*/
.content {
  padding-top: 30px;
}
.content__position {
  width: 70%;
  margin: 0 auto;
}
.content__text {
  float: left;
  margin-bottom: 30px;
}
.content__text_eng {
  font-weight: 700;
}
.content__text ul {
  list-style: none;
}
.content__image_block {
    border: 3px dashed #959595;
    float: left;
    margin: 0 0 0 15px;
    padding: 10px 10px;
    border-radius: 10px;
}
.content__image_block:hover {
    cursor: pointer;
    opacity: 0.8;
}
.content__main_image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.content__information {
  padding: 100px 0 20px 0;
}
.content__information_common {
  color: #2ca8de;
  list-style: none;
  float: left;
}
.content__information_common li h3 {
  font-weight: 600;
}
.content__data {
  padding-top: 10px;
}
.content__data_list {
  list-style: none;
  word-wrap: break-word;
  color: #656565;
}
.content__data_list li {
  font-size: 21px;
  font-weight: 600;
  line-height: 35px;
}
.content__input_email {
  height: 35px;
  margin: 0 0 10px 20px;
  width: 80%;
  border: 2px solid #ced4da;
  box-shadow: none;
}
.content__input_email:active {
  border: 2px solid #ced4da;
  box-shadow: none;
}
.content__input_email:focus {
  border: 2px solid #ced4da;
  box-shadow: none;
}
.content__input_password {
  height: 35px;
  margin: 0 0 40px 20px;
  width: 80%;
  border: 2px solid #ced4da;
  box-shadow: none;
}
.content__input_password:active {
  border: 2px solid #ced4da;
  box-shadow: none;
}
.content__input_password:focus {
  border: 2px solid #ced4da;
  box-shadow: none;
}
.content__input_recovery {
  float: right;
  width: 85px;
  line-height: 1.2;
  cursor: pointer;
  margin-right: 15%;
}
.content__start{
    width: 40%;
    height: 70px;
}
/*Content pop-up*/
.content__pop-up {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    display: none;
    left: 0px;
    right: auto;
}
.content__pop-up_main {
    width: 45%;
    margin: 4% auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000000;
}
.content__pop-up_text, .review__pop-up-up_text {
    color: #959595;
    font-weight: 600;
    margin: 15px 0;
}
.content__pop-up h3 {
    color: #959595;
    float: left;
}
#content__pop-up_result {
    width: 100%;
}
.content__pop-up_close, .review__pop-up_close {
    float: right;
    color: #959595;
}
.content__upload_label {
    margin: 0 auto;
    display: block;
}
.content__pop-up_upload:hover {
    cursor:pointer;
}
.content__pop-up {
    display:none;
}
.content__image_wrapper {
    max-width: 400px;
    max-height: 400px;
    margin: 10px auto;
    display: block;
}
#canvas {
    width: 100%;
    height: 100%;
}
.content__pop-up_button {
    display:inline-block;
    margin: 0 auto;
}
.content__pop-up_image {
    display:none;
}
.content__pop-up_preview {
    overflow: hidden;
    margin: 15px 0;
}
.content__pop-up_error {
    color: #ff0000;
    font-size: 16px;
    width: 90%;
    margin: 10px auto;
    font-weight: 600;
}
/*/////////////////*/

.error__text {
    font-size: 15px;
    color: #ff0000;
    margin: 0 0 -10px 20px;
}
.tab-content {
  float: left;
  margin-left: 10%;
  width: 60%;
}
.tab__header {
  font-size: 38px;
  font-weight: 600;
}

/*Element style*/
.fa-plus {
    color: rgb(44, 168, 222);
    cursor: pointer;
}
.fa-times {
    color: #ff3a34;
    cursor: pointer;
    font-size: 18px;
}
.level_subclass {
    padding-left: 10px;
}
.buttonStyle {
  width: 30%;
  height: 40px;
  font-weight: 600;
  margin-right: 5%;
}
.buttonStyle:hover {
  cursor: pointer;
}
.notpassed {
  border-color: #757575;
  color: #757575;
  background-color: #eeeeee;
  opacity: 0.8;
  cursor: default;
}
.passed {
    border-color: rgb(134, 142, 150);
    opacity: 0.7;
    color: #2CA8DE;
    background-color: #ffffff;
}
.passed:hover {
    border-color: rgb(134, 142, 150);
    cursor: default;
    color: rgb(134, 142, 150);
}
.textarea {
  resize: none;
}
.count_summary {
    color: #999999;
    font-size: 12px !important;
    padding: 0 5px;
    line-height: 21px;
    margin-top: 5px;
    font-weight: 600;
}
.count_message {
    color: #999999;
    font-size: 12px !important;
    padding: 0 5px;
    margin-top: 2px;
    font-weight: 600;
}
.count_grey {
    color: #999999;
}
.count_red{
    color: #ff0000 !important;
}
.resume__start_button {
    background-color: rgb(44, 168, 222);
    cursor: pointer;
}
.hint_arrow{
    display:inline;
    margin: 0 15px 0 10px;
}
.hint_arrow img {
    width: 45px;
    height: 45px;
}

.cross__hide {
    cursor:pointer;
}
.select2-search {
    padding: 0 0 !important;
}

/*Template for bike (Home page)*/
/* BUTTONS TO TOGGLE LAYOUT */
.layout-buttons {
    float: right;
    font-size: 30px;
    line-height: 34px;
    color: #ccc;
}
.layout-buttons span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}

    .layout-buttons .active {
        color: #009D91;
        pointer-events: none;
    }

.layout-buttons .icon-table {
    font-size: 35px;
}

/* PRODUCTS */

.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

.product {
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
}

.product:hover {
    z-index: 1;
    text-decoration: none;
    color: #474747
}

/* PRODUCT IMAGE */

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}

.product:hover .product-photo img {
    transform: scale(1.05);
}

.product-preview {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    display: inline-block;
    transition: opacity, transform .2s ease-out;
    transform: translateY(2em);
    opacity: 0;
}

.product:hover .product-preview {
    transform: translateY(0);
    opacity: 1;
}

/* NAME AND DESCRIPTION */
.product-text {
    padding: 20px;
}

.product h2 {
    font-size: 1.4em;
    color: #277e16;
    margin: 0 0 .7em;
}

.product p {
    position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
}

.product p:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.2em;
    height: 1.6em;
    background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

.buttons {
    position: relative;
    top: -1px;
    padding: 20px;
    background: #fff;
    transition: .2s ease-out;
    border: 1px solid #56bd4b;
    border-radius: 3px;
}

.button {
    display: inline-block;
    width: 100%;
    background: #56bd4b;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    border: 0;
    padding: 10px 0;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.button:hover {
    opacity: .9;
}

.product:hover .product-buttons-wrap {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }

    .table-layout .product-main {
        width: 70%;
    }

    .table-layout .product-details-wrap {
        width: 30%;
    }

    .table-layout .product-photo {
        width: 30%;
        padding-bottom: 30%;
        margin: 20px;
        border-radius: 3px;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }

    .table-layout .product-main {
        width: 80%;
    }

    .table-layout .product-details-wrap {
        width: 20%;
    }
}
